.related_container .title{
     display: flex;
     font-size: 22px;
     color: #fff;
     align-items: center;
     gap: 20px;
     margin-top: 40px;
    margin-bottom: 10px;
}
.related_container .collapseItems p{
     width: 600px;
color: #ffff;
font-size: 17px;
font-weight: 600;
padding: 10px 0px;
display: flex; 
/* gap: 100px; */
justify-content: space-between;
align-items: center;
border-top: 1px solid #2F3031;
}
.collapseItems p:hover{
          color: #1E91A0;
          transition: ease-out 0.3s;
               cursor: pointer;
}
.related_container p span{
     color: #1E91A0;
     font-size: 22px;
}

.editCard  {
     background: #202222;
     width: 170px;
     /* height: 100px; */
     padding: 5px;
     border-radius: 10px;

}

.editCard:hover {
     background: #2D2F2F;
     transition: ease-out 0.3s;
     cursor: pointer;
}


